.Global{
    padding: 4rem 6rem;
    background: #629dfb;
    color: #fff;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
}

.top div{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
}



.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:850px){
    .footer{
        padding: 4rem 2rem;
    }

    .bottom div{
        width: 50%;
    }
}